.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  width: 60%;
  left: 50%;
  margin-left: -25%;
  text-align: center;
  h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert-link {
    font-weight: bold;
  }
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  hr {
    border-top-color: #c9e2b3;
  }
  .alert-link {
    color: #2b542c;
  }
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  hr {
    border-top-color: #a6e1ec;
  }
  .alert-link {
    color: #245269;
  }
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
  hr {
    border-top-color: #f7e1b5;
  }
  .alert-link {
    color: #66512c;
  }
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  hr {
    border-top-color: #e4b9c0;
  }
  .alert-link {
    color: #843534;
  }
}
