<div class='cell avatar-left'>
  <header>
    <%- partial('./_top_good', {topic: topic}) %>

    <a class='topic_title' href='/topic/<%= topic._id %>' title='<%= topic.title %>'>
      <%= topic.title %>
    </a>
  </header>

  <a class="user-avatar" href="/user/<%= topic.author.loginname %>">
    <img src="<%= proxy(topic.author.avatar_url) %>"
         title="<%= topic.author.loginname %>"/>
  </a>
  <div class="article-cont">
    <%- markdown(topic.meta) %>
  </div>
  <!--<footer>-->
    <!--<span class="reply-count pull-left">-->
        <!--<span class="count_of_replies" title="回复数">-->
          <!--<%= topic.reply_count %>-->
        <!--</span>-->
        <!--<span class="count_seperator">/</span>-->
        <!--<span class="count_of_visits" title='点击数'>-->
          <!--<%= topic.visit_count %>-->
        <!--</span>-->
      <!--</span>-->
  <!--</footer>-->
</div>
