<div class='user-card'>
    <a class='avatar' href="/user/<%= user.loginname %>">
      <img src="<%= proxy(user.avatar_url) %>" title="<%= user.loginname %>"/>
    </a>
    <span class="title">作者</span>
    <a class='name' href="/user/<%= user.loginname %>"><%= user.loginname %></a>

    <div class='board clearfix'>
      <div class='floor'>
        积分<%= user.score %>,
        被<%= user.follower_count %>粉丝关注,
        获得了<%= topic.collect_count %>个喜欢
      </div>
    </div>
    <% if (current_user) { %>
      <% if (String(current_user._id) !== String(user._id)) { %>
        <% if(topic.relation_id){ %>
          <a href="" action="un-follow" class="follow-btn">取消关注</a>
        <% }else{ %>
          <a href="" action="follow" class="follow-btn"><i class="fa fa-plus"></i>加关注</a>
        <% } %>
      <% } %>
    <% } else {%>
      <a href="/signin" action="follow" class="follow-btn"><i class="fa fa-plus"></i>加关注</a>
    <% }%>
   <!--  <div class="space clearfix"></div>
    <span class="signature">
        “
        <% if (user.signature) {%>
            <%-escapeSignature(user.signature)%>
        <%} else {%>
            这家伙很懒，什么个性签名都没有留下。
        <%}%>
        ”
    </span> -->
</div>




<% if (current_user) { %>
<script>
  $(document).ready(function () {
    $('.follow-btn').click(function (evt) {
      evt.preventDefault();
      var $me = $(this);
      var action = $me.attr('action');
      var params = {
        user_id: '<%= current_user._id %>',
        follow_id: '<%= topic.author._id %>',
        action: action
      };
      $.post('/user/follow', params, function (data) {
        if (data.status === 'success') {
          var $btns = $('.follow-btn');
          if (action === 'follow') {
            $btns.html('取消关注');
            $btns.attr('action', 'un_follow');
          } else {
            $btns.html('加入关注');
            $btns.attr('action', 'follow');
          }
        }
      }, 'json');
    });
  });
</script>
<% } %>
