<div class='cell reply-item reply_area
  <%- reply.ups && reply.ups.length >= topic.reply_up_threshold ? 'reply_highlight' : '' %>'
  id="reply<%= indexInCollection+1 %>" reply_id="<%= reply._id %>" reply_to_id="<%= reply.reply_id || '' %>">
  <a class="anchor" id="<%= reply._id %>"></a>

  <div class='author'>
    <div class='user-info'>
      <a href="/user/<%= reply.author.loginname %>" class="user-avatar">
        <img src="<%= proxy(reply.author.avatar_url) %>" title="<%= reply.author.loginname %>"/></a>
      <a class='dark reply-author' href="/user/<%= reply.author.loginname %>"><%= reply.author.loginname %>
      </a>
      <a class="reply-time" href="#<%= reply._id %>"><%= indexInCollection + 1 %>楼•<%= reply.create_at_ago()
        %></a>
    </div>
  </div>
  <div class='reply-content clearfix from-<%= reply.author.loginname %>'>
    <div class="up-wrap">
      <a href="javascript:void(0)" class="up_btn">
        <i class="fa
        <%= (current_user && is_uped(current_user, reply)) ? 'fa-thumbs-up uped' : 'fa-thumbs-o-up' %>"
           title="喜欢"></i><br/>
      <span class="up-count">
        <%= reply.ups && reply.ups.length ? reply.ups.length : '0' %>
      </span>
      </a>
    </div>
    <%- markdown(reply.content) %>
  </div>
  <div class='reply2-area'>
    <% if (current_user) { %>
    <form class='reply2_form' action='/<%= topic._id %>/reply' method='post'>
      <input type='hidden' name='_csrf' value='<%= csrf %>'/>
      <input type='hidden' name='reply_id' value='<%= reply._id %>'/>

      <div class='markdown-editor in-editor'>
        <div class='markdown-in-editor'>
          <textarea class='span8 editor reply-editor'
                    id="reply2_editor_<%= reply._id %>" name='r_content' rows='4'></textarea>

          <div class='editor-buttons'>
            <input class='reply2-submit-btn submit-btn'
                   type="submit" data-id='<%= reply._id %>' data-loading-text="回复中.." value="回复">
          </div>
        </div>

      </div>

    </form>
    <% } %>
  </div>

  <div class='user-action animated'>

    <% if (current_user && current_user.is_admin ||
    (current_user && current_user._id.toString() == reply.author._id.toString())
    ) { %>
    <a href='/reply/<%= reply._id %>/edit' class='edit_reply_btn'>
      <i class="fa fa-pencil-square-o" title='编辑'></i>
    </a>
    <a href='javascript:void(0);' class='delete_reply_btn'>
      <i class="fa fa-trash" title='删除'></i>
    </a>
    <% } %>
    <% if (current_user){ %>
    <a  href='javascript:void(0);'class="reply2_btn">
      <i class="fa fa-reply " title="回复"></i>
    </a>
    <% } %>
  </div>
</div>
