<!-- navbar -->
<div class='navbar navbar-sider'>
  <div class="nav-main">
    <ul>
      <li>
        <a class='brand-logo' href="/">
          <% if (config.site_logo) {%>
          <img src="<%- staticFile(config.site_logo) %>" />
          <%} else {%>
          <%- config.short_name %>
          <%}%>
        </a>
      </li>
      <li><a href="/special" title="专题"><i class="fa fa-th"></i>专题</a></li>
      <% if (current_user !== null){ %>
      <li><a href="/featured" title="小组"><i class="fa fa-users"></i>小组</a></li>
      <% }else{ %>
      <li><a href="/signup" title="注册"><i class="fa fa-sign-in"></i>注册</a></li>
      <li><a href="/signin" title="登录"><i class="fa fa-user"></i>登录</a></li>
      <% } %>
    </ul>
  </div>
  <div class="nav-user-bottom">
    <ul>
      <% if (current_user !== null){ %>
      <li><a href="/topic/create" title="发布"><i class="fa fa-pencil"></i>发布</a></li>
      <li><a href="/user/<%- current_user.loginname %>/collections" title="收藏"><i class="fa fa-star"></i>收藏</a></li>
      <!--<li><a href="/user/<%= current_user.name %>/notifications" title="消息"><i class="fa fa-bell"></i>消息</a></li>-->
      <li><a href="/user/<%= current_user.name %>" title="用户"><i class="fa fa-bell"></i>用户</a></li>
      <li><a href="/signout" data-method="post" title="退出"><i class="fa fa-sign-out"></i>退出</a></li>
      <% } %>
      <li><a href="/setting" title="设置"><i class="fa fa-cogs"></i>设置</a></li>
    </ul>
  </div>
</div>
<!-- navbar user -->