<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- meta -->
  <meta charset="utf-8"/>
  <meta name='description' content='<%= config.description %>'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="keywords" content="<%= config.keywords %>"/>
  <meta name="apple-itunes-app" content="app-id=954734793">
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always">

  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

  <% if (config.site_icon) { %>
  <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
  <% } %>

  <!-- style -->
  <%- Loader('/public/css/index.min.css')
  .css('/public/libs/bootstrap/css/bootstrap.css')
  .css('/public/css/font/awesome.css')
  .css('/public/css/pure.min.css')
  .css('/public/css/app.css')
  .css('/public/components/jquery-dropdown/jquery.dropdown.css')
  .css('/public/components/tooltipster/css/tooltipster.css')
  .css('/public/components/tooltipster/css/themes/tooltipster-light.css')
  .css('/public/components/animation/animate.css')
  .css('/public/stylesheets/jquery.atwho.css')
  .css('/public/libs/editor/editor.css')
  .done(assets, config.site_static_host, config.mini_assets)
  %>

  <!-- scripts -->
  <%- Loader('/public/css/index.min.js')
  .js('/public/components/jquery/dist/jquery.min.js')
  .js('/public/libs/bootstrap/js/bootstrap.js')
  .js('/public/components/tooltipster/js/jquery.tooltipster.js')
  .js('/public/components/jquery-ujs/src/rails.js')
  .js('/public/components/jquery-dropdown/jquery.dropdown.min.js')
  .js('/public/libs/lodash.compat.js')
  .js('/public/libs/jquery.caret.js')
  .js('/public/libs/jquery.atwho.js')
  .js('/public/libs/markdownit.js')
  .done(assets, config.site_static_host, config.mini_assets)
  %>

  <% if (typeof(topic) !== 'undefined') { %>
  <title><%= topic.title %> - <%= config.name %></title>
  <% } else if (typeof(pageTitle) !== 'undefined') { %>
  <title><%= pageTitle %> - <%= config.name %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <% } %>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">
</head>
<body>

<%- partial('./_navbar.html') %>

<!--&lt;!&ndash; nav inner &ndash;&gt;-->
<!--<div class="nav-inner">-->
  <!--&lt;!&ndash; <a href="">作者热评</a> &ndash;&gt;-->
  <!--<a href="/" class="logo">-->
    <!--<img src="/public/img/logo.png" alt="">-->
  <!--</a>-->
  <!--&lt;!&ndash; <a href="">周边</a> &ndash;&gt;-->
<!--</div>-->

<div class="row row-home" id='main'>
  <div class="span-7 offset-1">
    <%- body %>
  </div>
</div>
<% if(typeof(success) !== 'undefined' && success){ %>
<div class="alert alert-success animated bounceInDown" role="alert">
  <i class="fa fa-info-circle"></i><%= success %>
</div>
<% } %>
<% if(typeof(error) !== 'undefined' && error){ %>
<div class="alert alert-danger animated bounceInDown" role="alert">
  <i class="fa fa-times-circle"></i><%= error %>
</div>
<% } %>




<% if (config.cnzz_tracker_id) { %>
<div style="display:none;">
  <script src="//s95.cnzz.com/z_stat.php?id=<%- config.cnzz_tracker_id %>&web_id=<%- config.cnzz_tracker_id %>" language="JavaScript"></script>
</div>
<% } %>

<script>
  $(function(){
    $('.navbar-sider a').tooltipster({
      position: 'bottom',
      theme: 'tooltipster-light'
    });
  })
  </script>
</body>
</html>
