
<div id="special">
  <h1><a href="">P2P能否打破年末跑路魔咒？</a><span>第1期</span></h1>
  <p class="short">临近年末，网上关于P2P平台大额提现潮、行业危机的言论此起彼伏，P2P网贷行业会否受到影响进而再现“跑路”潮？</p>
  <div class="support">
    <div class="pull-left">
      <div class="pos">
        <i class="fa fa-thumbs-o-up"></i>
      </div>
      20000
    </div>
    <div class="pull-right">
      20000
      <div class="pos neg">
        <i class="fa fa-thumbs-o-down"></i>
      </div>
    </div>
  </div>
  <div class="actions">
    <a href="">进入专题</a>
  </div>
</div>

div.